json
[{"id":"5ffdd728.68f398","type":"function","z":"4ac8099e.f76268","name":"PreToken","func":"global.set(\"gen\",msg.payload.gen)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"lun\",msg.payload.lun)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"per\",msg.payload.per)\nvar apikey=\"tTBOtqv9y5jGZGN5Hs2QymPTEUjlWkelLGmahcDonRkK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["f4696276.1dfe2"]]},{"id":"909de131.af1dc","type":"ui_form","z":"4ac8099e.f76268","name":"","label":"","group":"54861073.a0b78","order":1,"width":0,"height":0,"options":[{"label":"gennder","value":"gen","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"pa","type":"text","required":true,"rows":null},{"label":"lunch","value":"lun","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"percentagen","value":"per","type":"number","required":true,"rows":null}],"formValue":{"gen":"","re":"","pa":"","lun":"","tpc":"","ms":"","rs":"","ws":"","per":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"grade","x":70,"y":420,"wires":[["5ffdd728.68f398"]]},{"id":"f4696276.1dfe2","type":"http request","z":"4ac8099e.f76268","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["b7eeae39.3cae8"]]},{"id":"b7eeae39.3cae8","type":"function","z":"4ac8099e.f76268","name":"Pre Prediction","func":"var gen = global.gent('gen')\nvar re = global.gent('re')\nvar pa = global.gent('pa')\nvar lun = global.gent('lun')\nvar tpc = global.gent('tpc')\nvar ms = global.gent('ms')\nvar rs = global.gent('rs')\nvar ws = global.gent('ws')\nvar per = global.gent('per')\nvar token=msg.payload.access_token\nvar instance_id=\"d9ae3669-614e-42f2-9d63-98f11a778e44\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\", \"percentage\"], \"values\": [[gen,re,pa,lun,tpc,ms,rs,ws,per]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":280,"wires":[["c1b62d04.a1cb1"]]},{"id":"c1b62d04.a1cb1","type":"http request","z":"4ac8099e.f76268","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/f98b77fa-0999-42c1-b18a-610898a5d884/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["bffb3b93.870c28","d787f2e1.13d73"]]},{"id":"bffb3b93.870c28","type":"function","z":"4ac8099e.f76268","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":100,"wires":[["4a3a2a69.a3cdb4"]]},{"id":"4a3a2a69.a3cdb4","type":"ui_text","z":"4ac8099e.f76268","group":"54861073.a0b78","order":2,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":340,"wires":[]},{"id":"d787f2e1.13d73","type":"debug","z":"4ac8099e.f76268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targentType":"msg","x":950,"y":60,"wires":[]},{"id":"54861073.a0b78","type":"ui_group","z":"","name":"student performance","tab":"5c842886.37f888","order":2,"disp":true,"width":"6","collapse":false},{"id":"5c842886.37f888","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}] 
